$themeColor1: #1A4A77;
$themeColor2: #1285B4;
$themeColor3: #69BED7;
$themeColor4: #E4F2FB;
$headerHeigh: 3cm;
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font: 100% Helvetica, sans-serif;
}

body {
    background-color: $themeColor4;
    font-size: medium;
    color: $themeColor1;
    margin: 0px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
    .principal {
        display: flex;
        img {
            display: block;
            margin: auto;
        }
    }
    .tablas {
        margin-right: 40%;
        margin-left: auto;
        width: 30%;
    }
    .botones {
        margin-left: 150%;
        display: flex;
    }
    .btn-primary {
        background-color: #1285B4;
        margin: 5px;
    }
    .btn-secondary {
        margin: 5px;
    }
    .btn-danger {
        margin: 5px;
    }
    nav {
        background-color: $themeColor2;
        font-size: larger;
        //display: flex;
        color: $themeColor4;
        width: 100%;
        height: 100%;
        ul {
            padding-left: 0rem;
        }
        li {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
        a {
            text-decoration: none;
            list-style: none;
            font-size: 20px;
            display: block;
            padding: 20%;
            color: #E4F2FB;
            transition: .3s all;
            &:hover {
                font-size: 25px;
                padding: 30px 0px;
                background-color: #69BED7;
            }
        }
    }
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}

header {
    background-color: $themeColor1;
    color: $themeColor4;
    height: $headerHeigh;
    display: flex;
    div {
        text-align: center;
        border-radius: 5px;
        margin-left: 400px;
        margin-top: 50px;
        font-size: 30px;
    }
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
    h1 {
        margin-left: 10%;
    }
>>>>>>> Stashed changes
=======
    h1 {
        margin-left: 10%;
    }
>>>>>>> Stashed changes
    button {
        background-color: $themeColor1;
        color: $themeColor4;
        width: 100px;
        height: $headerHeigh;
        border-color: $themeColor1;
        display: inline-block;
        border: none;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
        margin-left: 400px;
=======
        margin-left: 600px;
>>>>>>> Stashed changes
=======
        margin-left: 600px;
>>>>>>> Stashed changes
        p {
            &:hover {
                color: $themeColor3;
            }
        }
    }
    img {
        width: auto;
        height: $headerHeigh;
    }
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
nav {
    background-color: $themeColor2;
    font-size: larger;
    display: flex;
    color: $themeColor4;
    width: 20%;
}

=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
button {
    background-color: $themeColor2;
    font-size: large;
    color: $themeColor4;
    border-radius: 5px;
    border-color: $themeColor2;
}

footer {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    background-color: $themeColor1;
    color: $themeColor4;
    display: flex;
    margin-bottom: 900px;
    .miembros {
        display: inline;
    }
    p {
        font-size: medium;
=======
=======
>>>>>>> Stashed changes
    position: relative;
    div {
        display: flex;
        background-color: $themeColor1;
        color: $themeColor4;
        display: flex;
        //width: 100%;
        padding: 30px;
        h1 {
            font-weight: bolder;
            font-size: 22px;
        }
        p {
            font-size: 14px;
            margin: 5px 10px;
        }
    }
}

@media screen and (max-width: 1100px) {
    footer {
        flex-wrap: wrap;
        div {
            flex-wrap: wrap;
        }
        p {
            margin-top: 20px;
        }
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
    }
}